/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}


#root {
    background: #011B10;
}


@media only screen and (max-width: 575px) {

    html {
        scroll-behavior: auto;
        scroll-snap-type: none;
        overflow-x: hidden;
    }

    #root {
        overflow-x: hidden;
        background: #011B10;
    }
}