/* Provide sufficient contrast against white background */
body {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}

a {
    color: #8f6fd0;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}


#root {
    background: #051c32;
}


@media only screen and (max-width: 575px) {

    html {
        scroll-behavior: auto;
        scroll-snap-type: none;
        overflow-x: hidden;
    }

    #root {
        overflow-x: hidden;
        background: #2e3032;
    }
}