.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spacer {
    height: 5rem;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.content-container > * {
}

.about-me-img img {
    border-radius: 5px;
}
.about-me-img carousel slide {
    margin: 1rem;
    -moz-box-shadow: 3px 3px 11px 4px #0000009c;
    -webkit-box-shadow: 3px 3px 11px 4px #0000009c;
    box-shadow: 3px 3px 11px 4px #0000009c;
}
.about-me-container {
    grid-area: 1/7/1/1;
    z-index: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.about-me {
    border-radius: 5px;
    padding: 32px;
    background: #007bff;
    color: white;
    -moz-box-shadow: 3px 3px 11px 4px #0000009c;
    -webkit-box-shadow: 3px 3px 11px 4px #0000009c;
    box-shadow: 3px 3px 11px 4px #0000009c;
}

.about-me-txt {
    font-size: 1.25rem;
}

img {
    object-fit: contain;
}

.carousel {
    grid-area: 1/6/1/13;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 11px 4px #0000009c;
    -webkit-box-shadow: 3px 3px 11px 4px #0000009c;
    box-shadow: 3px 3px 11px 4px #0000009c;
}
