.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E4DEAE;
}
.spacer {
    height: 5rem;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.content-container > * {
}

.about-me-img img {
    border-radius: 5px;
}
.about-me-img carousel slide {
    margin: 1rem;
    -moz-box-shadow: 3px 3px 11px 4px #0000009c;
    -webkit-box-shadow: 3px 3px 11px 4px #0000009c;
    box-shadow: 3px 3px 11px 4px #0000009c;
}
.about-me-container {
    grid-area: 1/7/1/1;
    z-index: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.about-me {
    border-radius: 5px;
    padding: 32px;
    background: #E4DEAE;
    color: #011B10;
    -moz-box-shadow: 3px 3px 11px 4px #0000009c;
    -webkit-box-shadow: 3px 3px 11px 4px #0000009c;
    box-shadow: 3px 3px 11px 4px #0000009c;
}

.about-me-txt {
    font-size: 1.25rem;
}

img {
    object-fit: contain;
}

.carousel {
    grid-area: 1/6/1/13;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 11px 4px #0000009c;
    -webkit-box-shadow: 3px 3px 11px 4px #0000009c;
    box-shadow: 3px 3px 11px 4px #0000009c;
}

.carousel-indicators li {
    background-color: #E4DEAE;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23E4DEAE' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

@media only screen and (max-width: 992px) {
    .about-me-txt {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 767px) {

    .about-me {
        border-radius: 5px;
        padding: 14px;
        background: #E4DEAE;
        color: #011B10;
        -moz-box-shadow: 3px 3px 11px 4px #0000009c;
        -webkit-box-shadow: 3px 3px 11px 4px #0000009c;
        box-shadow: 3px 3px 11px 4px #0000009c;
    }
}

@media only screen and (max-width: 575px) {

    .about-me-container {
        grid-area: 1/12/2/2;
        z-index: 100;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .carousel {
        grid-area: 2/2/2/12;
        border-radius: 5px;
        box-shadow: 3px 3px 11px 4px #0000009c;
    }
}